<footer>
  <hr/>
  <div id="content-for-footer">{{ content_for.footer }}</div>
  {% editable_region name: "site_footer", scope: "site" %}

  {% render 'layouts/footer__credits--v2' %}

  <p>
    <a href="{{ page.editor_url }}">Last Updated: {{ page.content_updated_at | date: "%m/%d/%Y" }}</a>
    <br/>
    Theme: {{ theme.name }}<br/>
    Domain: {{ site.domain }}<br />
    Site Data['site_2']: {{ site.data.site_2 }} <br/>
    Page Data['magic_key']: {% if page.data.magic_key != blank %}{{ page.data.magic_key }}{% else %}IT'S BLANK{% endif %} <br />
    Theme Data['bacon']: {{ theme.data.bacon }}
  </p>
</footer>
