<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | default: page.alternate_name | default: page.name }} | {{ site.name }}</title>
    <link rel="canonical" href="{{ site.url }}">
    <meta name="description" content="{{ page.meta_description }}" />

    <link rel="canonical" href="{{ page.path }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {%- link_stylesheet name: "site" -%}
    

    {% comment %}
      You can include individual stylesheets also. They are automatically compressed.
      {%- link_stylesheet name="site" -%}
      {%- link_stylesheet name="custom/site" -%}
    {% endcomment %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {%- link_javascript name: "site" async: "true" defer: "false" -%}

    {% comment %}
      You can include multiple javascript files at once by passing a comma separated list
      to the include_javascript tag. Each file will be compressed and all files will
      be combined into one.

      You can include individual javascript files also. They are automatically compressed.
      {%- link_javascript name="site" -%}
      {%- link_javascript name="site/siteb" -%}
    {% endcomment %}

    {%- if content_for.page_javascript != blank -%}
      <script type="text/javascript">
        {{  content_for.page_javascript }}
      </script>
    {%- endif -%}

    {%- if content_for.page_styles != blank -%}
      <style>
        {{ content_for.page_styles }}
      </style>
    {%- endif -%}
  </head>

  <body id="{{ page.template_name }}" data-site-id="{{ site.id }}" data-site-name="{{ site.name }}" class="{{ page.template_name }} page--{{ page.id }} page--{{ page.slug }} {% if edit_mode %}page--edit-mode page--hide-instructions-{{ site.data.site_3 }}{% endif %}">
    <!-- Header content -->
    {%- render 'layouts/header' -%}
    

    <!-- Main content -->
    {%- if page.is_home_page? %}<h3>DEFAULT PAGE</h3>{% endif -%}
    
    <div id="main_content" class="container">
      {{ __TEMPLATE_CONTENT__ }}

      <!-- Footer content -->
      {%- render 'layouts/footer' -%}
    </div>
  </body>
</html>
