<!-- Blog: {{ blog }} -->
{%- if blog.months_archive.size > 0 -%}
<ul>
  {%- for entry in blog.months_archive -%}
    <li><a href="{{ article.blog.path | append: '/' | append: entry[0] }}">{{ entry[0] | date: "%B %Y" }}</a> <span class="archive-count">({{ entry[1] }})</span></li>
  {%- endfor -%}
</ul>
{%- endif -%}