---
layout: default
---

<div class="content">
  <div class="page-header">
    <h2>
      {{ page.name }} <small>{{ page.title }}</small>
    </h2>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="col-8">
      <p>
        {{ page.published_at | date: "%A, %B %d, %Y" }} by <span>{{ page.author.full_name }}</span>
      </p>

      {%- editable_region name: "article-body" -%}
    </div>
    <!-- Sidebar -->
    <div class="col">
      {%- assign articles = page.siblings | filter_pages: limit: 3, tags: page.tags -%}
      <h3>Related Articles ({{ articles.size }})</h3>

      {%- if articles.size > 0 -%}
        <ul>
          {%- for article in articles.all -%}
            <li><a href="{{ article.path }}">{{ article.name }}</a></li>
          {%- endfor -%}
        </ul>
      {%- endif -%}


      <h3>Archives</h3>
      {% render 'monthly_archive' blog: article.blog %}
      
    </div>
  </div>
</div>
