---
layout: default

# These are the custom data attributes that can be applied to the page.
custom_data_attributes:
  - magic_name
  - magic_number
  - magic_key
  - Access Code Test
---

{%- capture page_javascript -%}
  console.log("This JavaScript was added to the <head> section of the layout from within a template.");
{%- endcapture -%}

<div class="container">
  <div class="page-header">
    {%- breadcrumbs ul_id: "breadcrumbs" ul_class: "breadcrumb" no_self: "false" no_root: "false" -%}
    <h2>
      {%- if page.parent -%}
        {{ page.title | default: page.name }} &mdash;
      {%- else -%}
        NO PARENT
      {%- endif -%}
      {% if page.alternate_name %}<small>{{ page.alternate_name }}</small>{% endif %}
    </h2>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="col-8">
      {%- editable_region name: "main" -%}
    </div>
    <!-- Sidebar -->
    <div class="col">
      <h3>Ancestor Menu</h3>
      {% ancestor_menu start_depth: 1 max_depth: 4 ul_id: "sub-nav-1" active_class: "current" open_class: "has-current" -%}

      <h3>Descendants</h3>
      {%- assign pages = page.descendants -%}
      {%- for page in pages -%}
        {{ page.name }}<br/>
      {%- endfor -%}

      <h3>Previouse Sibling</h3>
      {%- assign p = page.previous_sibling -%}
      {% if p %}
        <p><a href="{{p.url}}">{{ p.name }}</a></p>
      {% else %}
        <p>None</p>
      {% endif %}

      <h3>Next Sibling</h3>
      {%- assign p = page.next_sibling -%}
      {% if p %}
        <p><a href="{{p.url}}">{{ p.name }}</a></p>
      {% else %}
        <p>None</p>
      {% endif %}

      <h3>Get Specific Page</h3>
      {%- assign p = site | get_page: 210 -%}
      {% if p %}
        {% assign pages = p.descendants | filter_pages: name: 'Snippet', order: 'name', reverse: true %}
        Found {{ pages.size }} Descendants: <br/>
        {%- for page in pages -%}
          {{ page.name }}<br/>
        {%- endfor -%}
      {% else %}
        Page Not Found 
      {% endif %}
      
      {%- editable_region name: "sidebar1" -%}
    </div>
  </div>
</div>
