---
layout: default
---

<div class="content">
  <div class="page-header">
    <h2>{{ page.name }} <small>{{ page.title }}</small></h2>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="col-8">
      <img src="{%- theme_image_url name: "022.JPG" -%}" />
      {%- assign article_limit = params.limit | default: 3 -%}
      {%- assign articles = blog.articles | filter_articles: hidden: false, page: params.page, limit: article_limit, tags: params.tags, tags_match: params.tags_match, year: params.year, month: params.month, day: params.day, content: params.term, content_advanced: true -%}

      {%- if articles.size == 0 -%}
        <p>No articles found.</p>
      {%- else -%}
        <ul class="articles unstyled">
          {%- for article in articles -%}
            <li class="article">
              <h3><a href="{{ article.path }}">{{ article.name }}</a></h3>
              <p>{{article.published_at | date: "%A, %B %d, %Y" }} by <span>{{ article.author.full_name }}</span>
              </p>
              <div>{{ article.content['article-body'] | select_html: css_selector: "p", limit: "2" }}</div>
              <p>Tags: {{ article.tags }}</p>
              <p style="text-align: right;"><a class="btn btn-primary" href="{{ article.path }}">Read More &hellip;</a></p>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      {% assign pagination = articles | blog_pagination %}
      {% if pagination.total_pages > 1 %}
      <ul class="pagination justify-content-center">
        <li class="page-item {% if pagination.is_first_page %}disabled{% endif %}"><a class="page-link" href="{{ pagination.prev_page_url }}">&larr; Previous</a></li>
        <li class="page-item {% if pagination.is_last_page %}disabled{% endif %}"><a class="page-link" href="{{ pagination.next_page_url }}">Next &rarr;</a></li>
      </ul>
      {% endif %}
    </div>
    <!-- Sidebar -->
    <div class="col">
      <div id="debug1">
        <p><b>Page:</b> {{ params.page | default: 1 }} of {{ pagination.total_pages }}</p>
        <p><b>Limit:</b> {{ article_limit }}</p>
        <p><b>Total Articles:</b> {{ pagination.total_records }}</p>

        <div>
          <h4>Archive</h4>
          {% render 'monthly-archive' blog: blog %}
        </div>
      </div>
    </div>
  </div>
</div>
