---
layout: default

custom_data_attributes:
  - books_xml_url:
    title: Books XML URL
    type: string
---

{% liquid

  if page.data.books_xml_url
    assign booksDoc = page.data.books_xml_url | web_request | parse_xml
    assign books = booksDoc | select_xml: "/catalog/book"
    assign currencySymbols = '{ "USD": "$", "EUR": "&euro;" }' | parse_json
  else
    assign books = "" | split: ''
  endif
-%}

<div class="container">
  <div class="page-header">
    <h2>
      Books
      <small class="text-muted">{{ books.count }} Found</small>
    </h2>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Published</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book['id'] | remove: 'bk' }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.publish_date | split: '-' | reverse | join: '/' | date: '%B %d, %Y' }}</td>
            <td>{{ currencySymbols[book.price['currency']] | default: '$' }}{{ book.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>