---
layout: default
---
<div id="crime-report" class="js">
  <div class="wvu-container">
    <div class="accordion" data-aria-accordion data-default="none" data-multi>
      {% assign xmlData = site | get_file_content: 1079 %}
      {% assign xmlDoc = xmlData | parse_xml %}
      {% assign xslt = theme | get_file_content: '/util/crime_report.xslt' %}

      <h4>XML Data:</h4>
      <pre style="width: 100%; height: 300px;"><code>{{ xmlDoc.xml | escape_xml }}</code></pre>

      <h4>XSLT:</h4>
      <textarea style="width: 100%; height: 150px;">{{ xslt }}</textarea>

      <h4>Transformed:</h4>
      <textarea style="width: 100%; height: 150px;">{{ xmlDoc | transform_xml: xslt }}</textarea>
    </div>
  </div>
</div>