---
layout: default
---

<div class="content episode">
  <div class="page-header">
    <h1>Episode: {{ page.name }}</h1>
    {%- breadcrumbs attr="title,name" ul_id="breadcrumbs" ul_class="breadcrumb" -%}
  </div>
  <div class="row">
		<!-- Main content -->
    <div class="span12">
      <div class="text-center">
        <a class="btn btn-secondary" href="{{ page.previous_sibling.url }}">&larr; {{ page.previous_sibling.name }}</a>
        <a class="btn btn-secondary" href="{{ page.next_sibling.url }}">{{ page.next_sibling.name }} &rarr;</a>
      </div>
      
      <dl id="episode-data" class="well">          
        <div class="title">
          <dt>Title:</dt>
          <dd>{%- editable_region name: "title" type: "simple" placeholder: "What is the title of the episode?" -%}</dd>
        </div>
      
        <div class="episode">
          <dt>Episode #:</dt>
          <dd>{%- editable_region name: "episode" type: "simple" placeholder: "What is the episode number?" -%}</dd>
        </div>
      
        <div class="original_air_date">
          <dt>Original Air Date:</dt>
          <dd>{%- editable_region name: "original_air_date" type: "simple" placeholder: "When did the episode originally air?" -%}</dd>
        </div>
      
        <div class="director">
          <dt>Director:</dt>
          <dd>{%- editable_region name: "director" type: "simple" placeholder: "Who directed this episode?" -%}</dd>
        </div>
      
        <div class="writers">
          <dt>Writer(s):</dt>
          <dd>{%- editable_region name: "writers" type: "simple" placeholder: "Who wrote this episode?" -%}</dd>
        </div>
      
        <div class="synopsis">
          <dt>Synopsis:</dt>
          <dd>{%- editable_region name: "synopsis" placeholder: "Brief summary of the episode." -%}</dd>
        </div>
      </dl>

      <div id="main-content">
        {%- editable_region name: "content" type: "full" -%}
      </div>
    </div>
  </div>
</div>
