---
layout: default
---

{%- capture page_styles -%}
  .episode-index .page-header { color: red; }
{%- endcapture -%}

<div class="content episode-index">
  <div class="page-header">
    <h1>{{ page.name }} <small>{{ page.title }}</small></h1>
  </div>
  <div class="row">
    <!-- Main Content -->
    <div class="span12">
      <form class="form-inline" action="" method="get" role="search">
        <input id="q" class="inline" name="cquery" maxlength="256" placeholder="Find an episode..." type="search" />
        <input class="btn btn-success" name="submit" type="submit" value="Search" />
      </form>

      {%- assign episodes = page.descendants | filter_pages: template: 'episode', name: params.cquery -%}
      {%- assign seasons = page.descendants | filter_pages: template: backpage, name: 'Season' -%}
      
      <p>{{ episodes.size }} Episodes over {{ seasons.size }} Seasons</p>
      
      
      <table class="table">
        <thead>
          <th>Season</th>
          <th>Episode</th>
          <th>Title</th>
          <th>Director</th>
          <th>Air Date</th>
        </thead>

        <tbody>
          {%- for episode in episodes -%}
            <tr>
              <td>{{ episode.parent.name | remove: 'Season ' }}</td>
              <td>{{ episode.content['episode'] }}</td>
              <td><a href="{{ episode.url }}">{{ episode.content['title'] }}</a></td>
              <td>{{ episode.content['director'] }}</td>
              <td>{{ episode.content['original_air_date'] | date: "%m/%d/%Y" }}</td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div>
