---
layout: default
---

{% comment %}
Possibly implement a 'liquid' tag. 
https://documentation.platformos.com/api-reference/liquid/theme
{% endcomment %}
{% liquid
  assign test1 = 'foo'
  echo "<p>test1 is " | append: test1 | append: "</p>"
  assign test2 = 'bar'
%}

{% parse_json ipsum_data %}
  {{ "https://baconipsum.com/api/?type=meat-and-filler&format=json" | web_request }}
{% endparse_json %}


<div class="content">
  <div class="page-header">
    <h1>{{ page.name }}</h1>
  </div>
  <div class="container">

    <div>
      <!-- Main content -->
      <div class="">
        <h3>Ipsum pulled via <code>web_request</code> and parsed via <code>parse_json</code></h3>
        <div id="external-content">
          {% for content in ipsum_data %}
            <p>{{ content }}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <h3>Path Variables</h3>
        <ol>
          <li>{{ params.uri1 }}</li>
          <li>{{ params.uri2 }}</li>
          <li>{{ params.uri3 }}</li>
          <li>{{ params.uri4 }}</li>
        </ol>
      </div>
    
      <div class="col-4">
        <p class="debug">Cache Key:
          <r:cache_key />
        </p>
        <p class="debug">
          {% stylesheet_url name: "site, custom/site" %}
        </p>
        <p class="debug">
          {% javascript_url name: "site, site/siteb" %}
        </p>
      </div>
    
      <div class="col-4">
        <p>test1: {{ test1 }}</p>
        <p>test2: {{ test2 }}</p>
        <p>Empty string default: {{ page.content['componentClasses'] | strip | default: 'DEFAULT' }}</p>
      </div>
    </div>

    <div class="debug">
      <p>Current Domain: {{ site.domain }}</p>
      <p>Current Path: {{ request.path }}</p>
      <p>Current URL: {{ request.url }}</p>
      <p>to_time: {{ '9 years ago' | to_time }}</p>
    </div>

	<div>
	    <h3> CPASS XML Feed Example:</h3>
	    {% liquid
	      assign xmlFeed = "https://media.cpass.wvu.edu/stories.xml?tags=faculty+news" | web_request | parse_xml
	      assign latestItems = xmlFeed | select_xml: "/feed/latest/post"
	      assign recentItems = xmlFeed | select_xml: "/feed/recent/post"
	      assign items = latestItems | concat: recentItems
	    -%}

      <ol>
        {% for item in items limit: 5 %}
          <li>
            <img src="{{ item.photo.link }}" alt="{{ item.photo.alt_text }}" />
            <a class="title" href="{{ item.path }}">{{ item['title'] }}</a>
            <span class="data" title="{{ item.date.time['datetime'] }}">{{ item.date.time }} </span>
            <div class="description">{{ item.description }}</div>
          </li>
        {% endfor %}
      </ol>
    </div>
    
  </div>
</div>
