---
layout: default
---

<div class="content file-index">
  <div class="page-header">
    <h1>{{ page.name }} <small>{{ page.title }}</small></h1>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="col">
      {% assign files = site.files | filter_files: tags: 'download,wvu,profile', types: '', tags_match: 'any', order: 'uploaded_at' %}
      <ul class="files">
        {% for file in files %}
          <li class="span4">
            <span>{{ forloop.index }} - </span>
            <a href="{{ file.download_url }}" data-asset-id="{{ file.id }}">{{ file.title }}</a>
            <small>({{ file.filename }} uploaded {{ file.uploaded_at | date: "%Y-%m-%d" }})</small>
            <p>
              {% if file.is_image? %}
	     					<div class="row">
								  <div class="span6">
						                    <img src="{{ file | image_url: size: '250x'}}" />
								  </div>
								  <div class="span6">
						                    <img src="{{ file | image_url: size: '250x', format: 'webp' }}" />
								  </div>
								</div>
                Original Image Dimensions: {{ file.image_dimensions }} <br/>
                Image Path: {{ file | image_path: format: 'webp' }} <br/>
                Image URL: {{ file | image_url: format: 'webp' }}
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
