---
layout: default
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
  {% assign scope = 'page' %}
  {%- editable_region name: "hero", scope: scope, type: 'full' -%}
</div>

<!-- Example row of columns -->
<div class="container">
  <div class="row">
    <div class="col-4">
      {% editable_region name: "section_1", scope: 'page', type: 'full' %}
    </div>
    <div class="col-4">
      {%- editable_region name: "section_2" -%}
    </div>
    <div class="col-4">
      {%- editable_region name: "section_3" -%}
    </div>
  </div>
</div>

{%- capture page_javascript -%}
  console.log('Hello from content_for.');
{%- endcapture -%}

{% render 'example_partial' %}
