---
layout: default
---

<div class="content profile-index">
  <div class="page-header">
    <h1>{{ page.name }} <small>{{ page.title }}</small></h1>
  </div>
  <div class="container-fluid">
    <!-- Main content -->
    {%- assign limit = params.limit | default: 10 -%}
    {%- assign pages = page.descendants | filter_pages: template: "profile", order: 'name', limit: limit, tags: params.tags, tags_match: params.tags_match -%}
 
    <div class="card-deck">
      {%- for page in pages -%}
        <div class="card">
          <a class="card-img-top" href="{{ page.url }}">{{ page.content['profile_picture'] }}</a>
          <div class="card-body">
            <h5 class="card-title"><a href="{{ page.url }}">{{ page.content['profile_name'] }}</a></h5>
            <p>{{ page.content['profile_description'] }}</p>
            <p>{{ page.content['profile_notes'] }}</p>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
