---
layout: default
---

<div class="content profile">
  <div class="page-header">
    {%- breadcrumbs ul_class: "breadcrumb" -%}
    <h1>{{ page.name }} <small>{{ page.title }}</small></h1>
  </div>
  <div class="row">
    <!-- Main content -->
    <div class="col-8">
      {% editable_region_block name: "main" %}
        {{ "https://baconipsum.com/api/?type=meat-and-filler&format=html" | web_request }}
      {% endeditable_region_block %}

    </div>
    <!-- Sidebar -->
    <div class="col">
      <div class="profile-picture">
        {%- editable_region name: "profile_picture" placeholder: "Add profile picture here." -%}
      </div>

      <h3 class="profile-name">
        {%- assign pname = page.name -%}
        {%- editable_region name: "profile_name" type: "simple" placeholder: page.name -%}
      </h3>
      
      <div class="profile-description">
        <h4>Description</h4>
        {%- editable_region name: "profile_description" type: "simple" placeholder: "Enter a brief description of the person." -%}
      </div>
      
      {%- if edit_mode -%}
        <div class="profile-editor-only">
          <h4>Notes</h4>
          {%- editable_region name: "profile_notes" type: "simple" placeholder: "Notes that are only available in the editor." -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>